In [12]:
students=['muthu','selva','naveen','vikram','arun','divakar','gopi','raja']
print(students)

['muthu', 'selva', 'naveen', 'vikram', 'arun', 'divakar', 'gopi', 'raja']

In [14]:
#Sorting names in Alphabetical Order
#Temp -->Sorted(We can get back the old format)
print (sorted(students))
print(students)

['arun', 'divakar', 'gopi', 'muthu', 'naveen', 'raja', 'selva', 'vikram']
['muthu', 'selva', 'naveen', 'vikram', 'arun', 'divakar', 'gopi', 'raja']

In [15]:
#Permenant -->sort (No way to get back old format)
students.sort()

In [16]:
print(students)

['arun', 'divakar', 'gopi', 'muthu', 'naveen', 'raja', 'selva', 'vikram']

In [17]:
#To find out Number of Names in the group
len(students)

8

In [30]:
list (students)

['arun', 'divakar', 'gopi', 'muthu', 'naveen', 'raja', 'selva', 'vikram']

In [ ]:
#introduction to If-Else statements

In [1]:
for x=="raja":
    print(students.upper())
    else
    print(students.title())

SyntaxError: invalid syntax (<ipython-input-1-774413470348>, line 1)

In [ ]:
#Introduction to slicing of lists
#General Syntax of a string
#variable[startvalue:stopvalue:stepcount]--> Always last value is inclusive

In [3]:
students=['muthu','selva','naveen','vikram','arun','divakar','gopi','raja']
print(students[0:2])

['muthu', 'selva']

In [4]:
print(students[2:4])
print(students[4:6])
print(students[6:8])

['naveen', 'vikram']
['arun', 'divakar']
['gopi', 'raja']

In [6]:
#Alternate name to appear
print(students[0:8:2])
print(students[0:8:3])  #every 3rd name

['muthu', 'naveen', 'arun', 'gopi']
['muthu', 'vikram', 'gopi']

In [7]:
#Introduction to Negative indexing
print(students)

['muthu', 'selva', 'naveen', 'vikram', 'arun', 'divakar', 'gopi', 'raja']

In [8]:
print(students[-1]) #-- Printing right end name
print(students[-2]) #-- Printing right end -1 name

raja
gopi

In [9]:
#Reverse list by using indexing
print (students)
print(students[::-1])  #---> startvalue=nil,stopvalue=nil,stepcount=-1

['muthu', 'selva', 'naveen', 'vikram', 'arun', 'divakar', 'gopi', 'raja']
['raja', 'gopi', 'divakar', 'arun', 'vikram', 'naveen', 'selva', 'muthu']